.row
  .col-md-6
    %form.new-user{'ng-submit' => 'create()'}
      .form-group
        %input.form-control{type: 'email', 'ng-model' => 'newToken.email', placeholder: 'Email'}
      .form-group
        %input.form-control{type: 'password', 'ng-model' => 'newToken.password', placeholder: 'Password'}

      %button.btn.btn-primary{type: 'submit'}
        Sign In

    %br/
    %br/
    %strong
      OR
    %br/
    %br/

    %form.new-user{'ng-submit' => 'signInViaFacebook()'}
      .form-group
        %input.form-control{type: 'text', 'ng-model' => 'newToken.facebook_access_token', placeholder: 'Facebook Access Token'}

      .form-group
        %button.btn.btn-primary{type: 'submit'}
          .fa.fa-facebook-square.fa-larger
          Facebook

  .col-md-6{'ng-show' => 'response'}
    .row
      Response: {{responseStatus}}
    .row.json
      {{response}}
