.row.pull-right{'ng-show' => 'showDemoLinks'}
  Test API:
  %a{href: '/#/test-api'}
    Sign In
  |
  %a{href: '/#/test-api/signup'}
    Sign Up
  |
  %a{href: '/#/test-api/token'}
    Fetch User Data by token
  %br/
