.row
  .col-md-6
    .flash{'ng-show' => 'response', 'ng-class' => "{'green': response.status == 'ok', 'red' : response.status == 'error'}"}
      {{response.message}}
    %form.new-user{'ng-submit' => 'update()'}
      .form-group
        %h4
          New Password
      .form-group
        %input.form-control{type: 'password', 'ng-model' => 'user.password', placeholder: 'Password'}
          %h4
            Password Confirmation
      .form-group
        %input.form-control{type: 'password', 'ng-model' => 'user.password_confirmation', placeholder: 'Password Confirmation'}

      %button.btn.btn-primary{type: 'submit'}
        Submit
