.row
  .col-md-6
    .flash{'ng-show' => 'response', 'ng-class' => "{'green': response.status == 'ok', 'red' : response.status == 'error'}"}
      {{response.message}}
    %form.new-user{'ng-submit' => 'submit()'}
      .form-group
        %h2
          Forgot Password
      .form-group
        %input.form-control{type: 'email', 'ng-model' => 'email', placeholder: 'Email'}

      %button.btn.btn-primary{type: 'submit'}
        Submit
