!!!
%html{'ng-app' => 'myGreenSpace'}
  %head
    %title My Green Space API Demo
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container-fluid
      %ng-include(src="'#{asset_path('angular/links.html')}'" ng-controller="LinksCtrl")
      %br/
      %br/
      %div{'ng-view' => ''}
